.login-title {
  margin-top: 2rem;
}

.form-container {
  flex-direction: column;
}

.validation-error {
  color: red;
  font-size: smaller;
}

.submit-button {
  cursor: pointer;
  margin-top: 2rem;
  width: 180px;
  height: 40px;
}

.password-input {
  width: 220px;
  height: 40px;
}
.username-input {
  width: 220px;
  height: 40px;
}
